* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}
/*
blue #19f6c7
#c90677 #c90677
*/
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Orbitron', sans-serif;
  font-size: 18px;
  font-style: normal;
  position: relative;
}

.video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

.transparent {
  opacity: 0;
}
