.fight-screen {
  display: none;
  opacity: 0;
}

.fight-screen_active {
  display: flex;
  justify-content: center;
  gap: 20px;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fighter {
  flex: 1 0 300px;
  max-width: 300px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 120px;
}

.fighter__img {
  height: 300px;
  filter: drop-shadow(2px 0px 5px #19f6c7);
}

.fighter__float {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }
}

.fighter__img_reflect {
  transform: scaleX(-1);
}

.fighter__name {
  background: -webkit-linear-gradient(#19f6c7, #c90677);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Press Start 2P', system-ui;
  font-size: 24px;
  text-align: center;
}

.fight__title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.fight__zone {
  max-width: 300px;
}

.fight__settings {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.fight__btn-wrapper {
  width: 100%;
}

.fight__btn {
  margin: 0 auto;
}

.fight__radio {
}

.fight__type-title {
  font-size: 16px;
  margin-bottom: 10px;
}

.fight__label {
  display: block;
  font-size: 15px;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 10px;
}
