.health {
  width: 100%;
}

.health__bar {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 20px;
}

.health__bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  padding: 5px 5px 10px 5px;
  width: 100%;
  height: 40px;
  text-align: center;
  border: 4px ridge #19f6c7;
  border-radius: 50px;
  box-shadow: 0px 0px 3px 2px black;
  position: relative;
}

.health__sphere {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  z-index: 20 !important;
  position: relative;
  -webkit-transform: scale(0.3);
  z-index: -1;
  background: -webkit-radial-gradient(
    10% 10%,
    ellipse cover,
    #79f3d9 0%,
    #01ad88 50%,
    #79f3d9 100%
  ); /* Chrome10+, Safari5.1+ */
  background: -moz-radial-gradient(
    10% 10%,
    ellipse cover,
    #79f3d9 0%,
    #01ad88 50%,
    #79f3d9 100%
  ); /* FF3.6+ */
  background: -o-radial-gradient(
    10% 10%,
    ellipse cover,
    #79f3d9 0%,
    #01ad88 50%,
    #79f3d9 100%
  ); /* Opera 12+ */
  background: -ms-radial-gradient(
    10% 10%,
    ellipse cover,
    #79f3d9 0%,
    #01ad88 50%,
    #79f3d9 100%
  ); /* IE10+ */
  background: radial-gradient(ellipse at center, #79f3d9, #01ad88 50% #79f3d9);
}

.health__sphere:before {
  content: '';
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: -webkit-radial-gradient(
    50% 20%,
    circle,
    #ffffff,
    rgba(255, 255, 255, 0) 58%
  );
  z-index: 2;
}

.health__effect {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  width: 100%;
  height: 20px;
  text-align: center;
}

.health__shadow {
  width: 12px;
  height: 12px;
  box-shadow: 0px 0px 25px 10px rgba(255, 255, 255, 1);
  border-radius: 50%;
  -webkit-transform: scale(0.3);
  opacity: 0;
}

.health__value {
  text-align: center;
  font-size: 24px;
}

#shadow1 {
  -webkit-animation: fade-1 2s 0s infinite;
}

#shadow2 {
  -webkit-animation: fade-2 2s 0.2s infinite;
}

#shadow3 {
  -webkit-animation: fade-3 2s 0.4s infinite;
}

#shadow4 {
  -webkit-animation: fade-4 2s 0.6s infinite;
}

#shadow5 {
  -webkit-animation: fade-5 2s 0.8s infinite;
}

#shadow6 {
  -webkit-animation: fade-6 2s 1s infinite;
}

#shadow7 {
  -webkit-animation: fade-7 2s 1.2s infinite;
}

#shadow8 {
  -webkit-animation: fade-8 2s 1.4s infinite;
}

#shadow9 {
  -webkit-animation: fade-9 2s 1.6s infinite;
}

#shadow10 {
  -webkit-animation: fade-10 2s 1.8s infinite;
}

#sphere1 {
  -webkit-animation: scale-1 2s 0s infinite;
}

#sphere2 {
  -webkit-animation: scale-2 2s 0.2s infinite;
}

#sphere3 {
  -webkit-animation: scale-3 2s 0.4s infinite;
}

#sphere4 {
  -webkit-animation: scale-4 2s 0.6s infinite;
}

#sphere5 {
  -webkit-animation: scale-5 2s 0.8s infinite;
}

#sphere6 {
  -webkit-animation: scale-6 2s 1s infinite;
}

#sphere7 {
  -webkit-animation: scale-7 2s 1.2s infinite;
}

#sphere8 {
  -webkit-animation: scale-8 2s 1.4s infinite;
}

#sphere9 {
  -webkit-animation: scale-9 2s 1.6s infinite;
}

#sphere10 {
  -webkit-animation: scale-10 2s 1.8s infinite;
}

@-webkit-keyframes fade-1 {
  0% {
    -webkit-transform: scale(0.3);
    opacity: 0;
  }
  35%,
  65% {
    -webkit-transform: scale(1);
    opacity: 0.3;
  }
  65%,
  100% {
    -webkit-transform: scale(0.3);
    opacity: 0;
  }
}

@-webkit-keyframes fade-2 {
  0% {
    -webkit-transform: scale(0.3);
    opacity: 0;
  }
  35%,
  65% {
    -webkit-transform: scale(1);
    opacity: 0.3;
  }
  65%,
  100% {
    -webkit-transform: scale(0.3);
    opacity: 0;
  }
}

@-webkit-keyframes fade-3 {
  0% {
    -webkit-transform: scale(0.3);
    opacity: 0;
  }
  35%,
  65% {
    -webkit-transform: scale(1);
    opacity: 0.3;
  }
  65%,
  100% {
    -webkit-transform: scale(0.3);
    opacity: 0;
  }
}

@-webkit-keyframes fade-4 {
  0% {
    -webkit-transform: scale(0.3);
    opacity: 0;
  }
  35%,
  65% {
    -webkit-transform: scale(1);
    opacity: 0.3;
  }
  65%,
  100% {
    -webkit-transform: scale(0.3);
    opacity: 0;
  }
}

@-webkit-keyframes fade-5 {
  0% {
    -webkit-transform: scale(0.3);
    opacity: 0;
  }
  35%,
  65% {
    -webkit-transform: scale(1);
    opacity: 0.3;
  }
  65%,
  100% {
    -webkit-transform: scale(0.3);
    opacity: 0;
  }
}

@-webkit-keyframes fade-6 {
  0% {
    -webkit-transform: scale(0.3);
    opacity: 0;
  }
  35%,
  65% {
    -webkit-transform: scale(1);
    opacity: 0.3;
  }
  65%,
  100% {
    -webkit-transform: scale(0.3);
    opacity: 0;
  }
}

@-webkit-keyframes fade-7 {
  0% {
    -webkit-transform: scale(0.3);
    opacity: 0;
  }
  35%,
  65% {
    -webkit-transform: scale(1);
    opacity: 0.3;
  }
  65%,
  100% {
    -webkit-transform: scale(0.3);
    opacity: 0;
  }
}

@-webkit-keyframes fade-8 {
  0% {
    -webkit-transform: scale(0.3);
    opacity: 0;
  }
  35%,
  65% {
    -webkit-transform: scale(1);
    opacity: 0.3;
  }
  65%,
  100% {
    -webkit-transform: scale(0.3);
    opacity: 0;
  }
}

@-webkit-keyframes fade-9 {
  0% {
    -webkit-transform: scale(0.3);
    opacity: 0;
  }
  35%,
  65% {
    -webkit-transform: scale(1);
    opacity: 0.3;
  }
  65%,
  100% {
    -webkit-transform: scale(0.3);
    opacity: 0;
  }
}

@-webkit-keyframes fade-10 {
  0% {
    -webkit-transform: scale(0.3);
    opacity: 0;
  }
  35%,
  65% {
    -webkit-transform: scale(1);
    opacity: 0.3;
  }
  65%,
  100% {
    -webkit-transform: scale(0.3);
    opacity: 0;
  }
}

@-webkit-keyframes scale-1 {
  0% {
    -webkit-transform: scale(0.3);
  }
  35%,
  65% {
    -webkit-transform: scale(1);
  }
  65%,
  100% {
    -webkit-transform: scale(0.3);
  }
}

@-webkit-keyframes scale-2 {
  0% {
    -webkit-transform: scale(0.3);
  }
  35%,
  65% {
    -webkit-transform: scale(1);
  }
  65%,
  100% {
    -webkit-transform: scale(0.3);
  }
}

@-webkit-keyframes scale-3 {
  0% {
    -webkit-transform: scale(0.3);
  }
  35%,
  65% {
    -webkit-transform: scale(1);
  }
  65%,
  100% {
    -webkit-transform: scale(0.3);
  }
}

@-webkit-keyframes scale-4 {
  0% {
    -webkit-transform: scale(0.3);
  }
  35%,
  65% {
    -webkit-transform: scale(1);
  }
  65%,
  100% {
    -webkit-transform: scale(0.3);
  }
}

@-webkit-keyframes scale-5 {
  0% {
    -webkit-transform: scale(0.3);
  }
  35%,
  65% {
    -webkit-transform: scale(1);
  }
  65%,
  100% {
    -webkit-transform: scale(0.3);
  }
}

@-webkit-keyframes scale-6 {
  0% {
    -webkit-transform: scale(0.3);
  }
  35%,
  65% {
    -webkit-transform: scale(1);
  }
  65%,
  100% {
    -webkit-transform: scale(0.3);
  }
}

@-webkit-keyframes scale-7 {
  0% {
    -webkit-transform: scale(0.3);
  }
  35%,
  65% {
    -webkit-transform: scale(1);
  }
  65%,
  100% {
    -webkit-transform: scale(0.3);
  }
}

@-webkit-keyframes scale-8 {
  0% {
    -webkit-transform: scale(0.3);
  }
  35%,
  65% {
    -webkit-transform: scale(1);
  }
  65%,
  100% {
    -webkit-transform: scale(0.3);
  }
}

@-webkit-keyframes scale-9 {
  0% {
    -webkit-transform: scale(0.3);
  }
  35%,
  65% {
    -webkit-transform: scale(1);
  }
  65%,
  100% {
    -webkit-transform: scale(0.3);
  }
}

@-webkit-keyframes scale-10 {
  0% {
    -webkit-transform: scale(0.3);
  }
  35%,
  65% {
    -webkit-transform: scale(1);
  }
  65%,
  100% {
    -webkit-transform: scale(0.3);
  }
}
