.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  min-height: 100vh;
  padding-top: 85px;
}

.main__btn {
  margin-top: -100px;
}

.main__btn_hidden {
  display: none;
}
