.popup {
  width: 0;
  height: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  pointer-events: none;
  transform-origin: center;
  transition: width 0.5s;
  overflow-y: scroll;
  z-index: 10;
}

.popup_open {
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: width 0.5s;
}

.popup__close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  cursor: pointer;
  background: transparent;
  transition: 0.5s;
  z-index: 100;
}

.popup__close img {
  display: block;
  width: 20px;
  height: 20px;
}

.popup__tab {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  padding: 60px 20px 20px;
  display: none;
  opacity: 0;
  background: url(../assets/tab-bg.jpg) no-repeat center / cover;
  overflow-y: scroll;
}

.popup__tab_active {
  display: block;
  opacity: 1;
  animation: fadeIn 1s forwards;
  z-index: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.popup__title {
  color: #fff;
  background: -webkit-linear-gradient(#a8f6e5, #c90677);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Press Start 2P', system-ui;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
