.profile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  font-family: 'Josefin Sans', sans-serif;
  padding: 40px;
  z-index: 0;
}

.profile_open {
  display: flex;
}

.profile__title {
  color: #fff;
  background: -webkit-linear-gradient(#05daf7, #c90677);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Press Start 2P', system-ui;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

.profile__result {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  text-transform: uppercase;
}

.profile__wins {
  font-size: 20px;
  color: #f1239b;
}

.profile__lost {
  font-size: 20px;
  color: purple;
}

.profile__draw {
  font-size: 20px;
  color: orange;
}

.profile__img-wrapper {
  width: 100%;
  height: 500px;
  position: relative;
}

.profile__location {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.profile__avatar {
  max-width: 300px;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.profile__btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.profile__btn {
  max-width: 200px;
  margin: 0 auto;
}

.profile__text {
  font-size: 20px;
  text-align: center;
}

.profile__game-btn {
  background: linear-gradient(45deg, #06c930, #19f6c7);
}

.profile__game-btn::after {
  background: linear-gradient(45deg, #06c930, #19f6c7);
}
